.Pokecard {
  display: inline-block;
  text-align: center;
  background-color: lightgray;
  border-radius: 10px;
  width: 11em;
  padding: 1em;
  margin: 1em;
  transition: all 0.2s ease-in-out;
}

.Pokecard:hover {
  transform: scale(1.05);
}

.Pokecard-name {
  color: blue;
  font-size: 20px;
  margin: 0;
}

.Pokecard-data {
  font-size: 80%;
  margin: 0;
}
