.Pokedex {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.103);
  border: 2px solid lightsalmon;
  border-radius: 1em;
  margin: 2em;
}

.Pokedex-title {
  font-size: 2em;
  color: rgb(255, 255, 97);
  text-shadow: -1px -1px 0 rgb(63, 102, 149), 1px -1px 0 rgb(63, 102, 149),
    -1px 1px 0 rgb(63, 102, 149), 1px 1px 0 rgb(63, 102, 149);
}

.Pokedex-winner {
  font-size: 1.5em;
  font-weight: bold;
  color: orangered;
}
